# Python cache & build
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# VS Code
.vscode/

# OS
.DS_Store

# Logs & databases
logs/
*.log
src/mozaik/mozaik_queue.db

# Environment / secrets
.env
.env.*
